<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/c13cff69-a8a7-4a36-9380-2bf8f4fed91c/resourceGroups/BotRg/providers/Microsoft.ContainerRegistry/registries/galcomp</ResourceId>
    <ResourceName>galcomp</ResourceName>
    <ResourceGroup>BotRg</ResourceGroup>
    <Subscription>Galcomp Main Azure Subscription</Subscription>
    <RegistryUrl>galcomp.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>b255ee56-b381-1e2c-8775-42a1eadc79f0</ProjectGuid>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <TargetFramework>net10.0</TargetFramework>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>